@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

/* some stuff from previous version
body {
    // Gradient from uigradients
    background: #16222A; 
    background: -webkit-linear-gradient(to left, #16222A , #3A6073); 
    background: linear-gradient(to left, #16222A , #3A6073); 
}
*/

.alert-notice{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}