@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

/*
body {
    // Gradient from uigradients
    background: #16222A; 
    background: -webkit-linear-gradient(to left, #16222A , #3A6073); 
    background: linear-gradient(to left, #16222A , #3A6073); 
}
*/
